@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #33343700;
  --secondary: #848992;


}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  border: 3px solid var(--primary);
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
   
}

@media(max-width: 768px){
  .foo-bar{
    border-radius: 6px !important;
    padding: 10px !important;
    margin: 150px 10px !important;
  }
}